<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Home</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <style>
      body{
        font-family: poppins;
      }

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>

    <!-- Ini Custom styles for this template -->
    <link href="/blog.css" rel="stylesheet">
  </head>
    
<!-- Ini awal nav bar -->
<div class="container navBar" style="background-color:white ;">
  <nav class="blog-header lh-1 py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <!-- Ini Awal Logo -->
      <div class="col-4 pt-1">
        <a href="/home" class="nav-item" style="text-decoration:none; font-weight: 650;  color: #5FA8A0;" >
          <img src="Logo.png" width="40" height="40" style="border-radius: 10px; margin-right: 10px;">
          Rozan Creative
        </a>
      </div>
      <!-- Ini Akhir Logo -->

      <!-- Ini awal nav button -->
      <nav class="col-7" style="text-align:right;">
        <a href="#bioPage" class="nav-item" >&emsp; Bio &emsp;</a>
        <a href="#projectPage" class="nav-item" >&emsp; Project &emsp;</a>
        <a href="#shopPage" class="nav-item" >&emsp; Shop &emsp;</a>
        <!-- <a href="#coursePage" class="nav-item" >&emsp; Course &emsp;</a> -->
      </nav>
      <!-- Ini akhir nav button -->

      <!-- Ini awal foto profil -->
      <div class="dropdown text-end col-1 d-flex justify-content-end align-items-center">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="FotoProfil.jpg" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <!-- <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li> -->
          <li><a class="dropdown-item" href="/homeLogin">Logout</a></li>
        </ul>
      </div>
      <!-- Ini akhir foto profil -->
    </div>
    
    
  <!-- <hr> -->
  </nav>
</div>
<!-- Ini akhir nav bar -->

<!-- ---------------------------- -->
<body style="background-color: #ffffff;">
<!-- Ini awal home -->
<main class="container">
  <div class="p-4 p-md-5 mb-4 row" id="HomePage">
    <div class="teksHeader col-md-6 col-lg-6">
      <h4 style="font-weight:600; color: cadetblue;">Hi! I'm Nabila Rozan</h4>
      <p class="welcomeHeader">Welcome To My Website!</p>
      <p class="descHeader">I'm from Indonesia. I'm student at SMK Telkom Malang. This is my personal blog. I have interest in to design especially in UI/UX Design and Illustration. I put my portofolio here. I also sell my product and open course in here too.</p>
      
      <!-- Ini awal sosmed button -->
      <div class="icon">
        <a class="homeButton btn btn-outline-primary rounded-pill" href="https://mail.google.com/mail/u/0/#inbox" >
          <img src="Mail.png" width="25" height="20" style="margin: 5px;">
          Email
        </a>
        <a class="homeButton btn btn-outline-primary rounded-pill" href="https://www.instagram.com/unknown.ame_/"  style="margin-right: 10px ;">
          <img src="Instagram.png" width="15" height="15" style="margin: 5px;">
        </a>
        <a class="homeButton btn btn-outline-primary rounded-pill" href="https://github.com/NekoNabNab"  style="margin-right: 10px ;">
          <img src="Github.png" width="15" height="15" style="margin: 5px;">
        </a>
        <a class="homeButton btn btn-outline-primary rounded-pill" href="https://www.linkedin.com/in/nabila-rozan-humairoh-362924215/"  style="margin-right: 10px ;">
          <img src="LinkedIn.png"  width="15" height="15" style="margin: 5px;">
        </a>
      </div>
    </div>
    <!-- Ini akhir sosmed button -->

    <!-- Ini awal foto Home -->
    <div class="col-md-6 col-lg-6">
      <div class="fotoHeader" style="justify-content: right;">
        <img src="fotoHome.png" width="400" height="400">
      </div>
    </div>
    <!-- Ini akhir foto Home -->
  </div>

  <div class="p-4 p-md-5 mb-4 row flex" style="justify-content:center;">

    <!-- Ini awal skill -->
    <div class="p-4 p-md-5 mb-5 flex" id="bioPage" style="background-color: #eeeeee; border-radius: 25px;;">
      <h3 class="subJudul mb-4">Skill</h3>
      
      <div class="skills p-md-5 mb-5">
        <ul class="lines mt-5">
          <br>
          <p class="line l--0">
            <span class="line__label title">
              Skill level:
            </span>
          </p>
          <p class="line l--25">
            <span class="line__label">
              The basics
            </span>
          </p>
          <p class="line l--50">
            <span class="line__label">
              Advanced
            </span>
          </p>
          <p class="line l--75">
            <span class="line__label">
              Seasoned
            </span>
          </p>
          <p class="line l--100">
            <span class="line__label">
              Expert
            </span>
          </p>
        </ul>
        
        <div class="charts">
          <div class="chart chart--dev">
            <span class="chart__title">Development</span>
            <ul class="chart--horiz">
              <div class="chart__bar colorChart1 mb-2" style="width: 70%;">
                <span class="chart__label">
                  HTML5
                </span>
              </div>
              <div class="chart__bar colorChart1 mb-2" style="width: 85%;">
                <span class="chart__label">
                  CSS
                </span>
              </div>
              <div class="chart__bar colorChart1 mb-2" style="width: 30%;">
                <span class="chart__label">
                  JavaScript
                </span>
              </div>
              <div class="chart__bar colorChart1 mb-2" style="width: 30%;">
                <span class="chart__label">
                  NodeJS
                </span>
              </div>
            </ul>
          </div>
          
          <div class="chart chart--prod">
            <span class="chart__title">Software</span>
            <ul class="chart--horiz">
            <div class="chart__bar colorChart2 mb-2" style="width: 90%;">
              <span class="chart__label">
                Figma
              </span>
            </div>
            <div class="chart__bar colorChart2 mb-2" style="width: 90%;">
              <span class="chart__label">
                Adobe Illustrator
              </span>
            </div>
            <div class="chart__bar colorChart2 mb-2" style="width: 70%;">
              <span class="chart__label">
                Adobe Photoshop
              </span>
            </div>
            <div class="chart__bar colorChart2 mb-2" style="width: 40%;">
              <span class="chart__label">
                Visual Studio Code
              </span>
            </div>
            <div class="chart__bar colorChart2 mb-2" style="width: 50%;">
              <span class="chart__label">
                Blender
              </span>
            </div>
          </ul>
          </div>
          
          <div class="chart chart--design">
            <span class="chart__title">Design</span>
            <ul class="chart--horiz">
            <div class="chart__bar colorChart3 mb-2" style="width: 40%;">
              <span class="chart__label">
                UIUX
              </span>
            </div>
            <div class="chart__bar colorChart3 mb-2" style="width: 40%;">
              <span class="chart__label">
                Illustration
              </span>
            </div>
            <div class="chart__bar colorChart3 mb-2" style="width: 35%;">
              <span class="chart__label">
                Logo Design
              </span>
            </div>
          </ul>
          </div>

          <div class="chart chart--design">
            <span class="chart__title">Soft Skill</span>
            <ul class="chart--horiz">
            <div class="chart__bar colorChart4 mb-2" style="width: 50%;">
              <span class="chart__label">
                Teamwork
              </span>
            </div>
            <div class="chart__bar colorChart4 mb-2" style="width: 60%;">
              <span class="chart__label">
                Comunication
              </span>
            </div>
            <div class="chart__bar colorChart4 mb-2" style="width: 55%;">
              <span class="chart__label">
                Management
              </span>
            </div>
          </ul>
          </div>
        </div>
      </div>    
    </div>
    <!-- Ini akhir skill -->

    <!-- Ini awal project -->
    <h3 class="subJudul mt-5 mb-5" id="projectPage">Project</h3>
    <div class="col-md-12 pb-4 mb-3">
      <div class="col-auto d-none d-lg-block">
        <img class="projectHome" src="Project1.jpg"></img>
      </div>

        <a class="homeButton"  style=" font-size: 15px;" href="https://www.figma.com/community/file/1158056355107253434">
          <img src="Visit.png" width="12" height="12" style="margin-right: 10px; text-decoration: none;">
          Visit
        </a>

    </div>

    <div class="col-md-12 pb-4 mb-3">
      <div class="col-auto d-none d-lg-block">
        <img class="projectHome" src="Project2.png"></img>
      </div>
      <div class="projectText">
        <a class="homeButton"  style=" font-size: 15px;" href="https://www.figma.com/community/file/1158054091387573428">
          <img src="Visit.png" width="12" height="12" style="margin-right: 10px; text-decoration: none;">
          Visit
        </a>
      </div>
    </div>

    <div class="col-md-12 mb-3">
      <div class="col-auto d-none d-lg-block">
        <img class="projectHome" src="Project3.png"></img>
      </div>
      <div class="projectText">
        <a class="homeButton" style=" font-size: 15px;" href="https://www.figma.com/community/file/1158050138844786865">
          <img src="Visit.png" width="12" height="12" style="margin-right: 10px; text-decoration: none;">
          Visit
        </a>
        <div style="display: flex; justify-content: right;">
          <a class="homeButton btn btn-outline-primary rounded-pill" style=" font-size: 15px;" href="https://www.figma.com/@nabilarozan">
            More
          </a>
        </div>
      </div>

    </div>
    <!-- Ini akhir project -->

    <!-- Awal Slide -->
    <div id="carouselExampleCaptions" class="carousel slide mt-5 mb-5" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner" style="border-radius: 25px;">
        <div class="carousel-item active">
          <img src="eCourse_coomingSoon-01.png" class="d-block w-100" style="height:500px; background-color: #5FA8A0; border-radius: 25px;">
          <div class="carousel-caption d-none d-md-block">
            <!-- <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p> -->
          </div>
        </div>
        <div class="carousel-item" style="border-radius: 25px;">
          <img src="Slide-02.png" class="d-block w-100" style="height:500px; background-color: #5FA8A0; border-radius: 25px;">
          <div class="carousel-caption d-none d-md-block">
            <!-- <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p> -->
          </div>
        </div>
        <div class="carousel-item" style="border-radius: 25px;">
          <img src="Slide-03.png" class="d-block w-100" style="height:500px; background-color: #5FA8A0; border-radius: 25px;">
          <div class="carousel-caption d-none d-md-block">
            <!-- <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p> -->
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- Akhir Slide -->

    <!-- Ini awal shop -->
    
    <div class="album py-5 mb-5" style="background-color: #eeeeee; border-radius: 25px;">
      
      <div class="container">
        <h2 class="subJudul mb-2" id="shopPage">Shop</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

          <% for (item of items) { %>
          <div class="col p-3">
            <div class="card" style="border-radius:10px;">
              <img width="295px" height="295px" src="<%= item.gambar %>">
              <div class="card-body">
                <h4 class="card-title"><%= item.name %></h4>
                <h6 class="card-price"> Rp. <%= item.harga %></h6>
                <div class="d-flex justify-content-between align-items-center">
                  <a href="#formCheckout"
                    class="w-30 btn btn-lg btn-primary"
                    style="background-color: #3C6E71; font-size: 15px; border: transparent;" >
                    order
                  </a>
                </div>
              </div>
            </div>
          </div>
          <% } %>
          
        </div>
        <form action="/items/beli" method="post" id="formCheckout">
          <h3 class="subJudul mt-5 mb-5 text-center" id="projectPage">Form Pembelian</h3>
          <div class="flex items-center">
              <input type="text" name="pembeli" placeholder="Nama Pembeli" class="w-1/5 w-full border px-3 py-2 text-sm mr-2 bg-white">
              <select name="type" class="w-1/5 w-full border px-3 py-2 text-sm mr-2 bg-white">
                  <option value="dibeli">Dibeli</option>
              </select>
              <select placeholder="Paket Item" name="item_id" class="w-2/5 w-full border px-3 py-2 text-sm mr-2 bg-white">
                  <% for (item of items) { %>
                      <option value="<%= item.id %>"><%= item.name %></option>
                  <% } %>
              </select>
              <input type="number" name="amount" value="1" class="w-1/5 w-full border px-3 py-2 text-sm mr-2 bg-white">
              <button
              class="w-30 btn btn-lg btn-primary"
              style="background-color: #3C6E71; font-size: 15px; border: transparent;" 
              onclick="alert('Pembelian Berhasil!')">
              Buy
              </button>
          </div>
        </form>
      </div>
    </div>
    <!-- Ini akhir shop -->

    <!-- Ini awal course -->
    <!-- <h3 class="subJudul mb-5" id="coursePage">Course</h3>
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col p-3">
            <div class="card" style="border-radius:5%">
              <img src="Illustrasi_1.png">

              <div class="card-body">
                <p class="card-title">Tutorial Video</p>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Watch</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary"><img src="save.svg" alt=""></button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col p-3">
            <div class="card" style="border-radius:5%">
              <img src="Illustrasi_1.png">

              <div class="card-body">
                <p class="card-title">Tutorial Video</p>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Watch</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary"><img src="save.svg" alt=""></button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col p-3">
            <div class="card" style="border-radius:5%">
              <img src="Illustrasi_1.png">

              <div class="card-body">
                <p class="card-title">Tutorial Video</p>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Watch</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary"><img src="save.svg" alt=""></button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- Ini akhir course -->

    <!-- Ini awal tertarik join -->
    <div class="col-md-12 mb-5" style="background-color: #5FA8A0; border-radius: 20px;">
      <div class="col-auto d-none d-lg-block">
        <div class="joinHome">
          <a class="joinTextHome homeButton rounded-pill" href="https://mail.google.com/mail/u/0/#inbox" >
            Interested Working With Me?
          </a>
          <a class="joinTextHome btn btn-outline-primary rounded-pill" style="font-size:15px;" href="https://mail.google.com/mail/u/0/#inbox" >
            <img src="Mail2.png" width="25" height="20" style="margin: 5px;">
            Email Me
          </a>
          <a class="joinTextHome btn btn-outline-primary rounded-pill" style="font-size:15px;" href="https://mail.google.com/mail/u/0/#inbox" >
            <img src="Youtube2.png" width="25" height="20" style="margin: 5px;">
            Subscribe
          </a>
        </div>
      </div>
    </div>
    <!-- Ini akhir tertarik join -->

    <!--Awal Credit -->
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <h3 class="pb-4 mb-4 fst-italic">
          Thank You!
        </h3>
        <div class="col-12 col-md">
          <img class="mb-2" src="Logo_Trans-04.png" alt="" width="30" height="30">
          <small class="d-block mb-3 text-muted">&copy; 2022–2022</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Home</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Bio</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Shop</a></li>
          </ul>
        <div class="col-6 col-md">
          <h5>Social Media</h5>
          <ul class="list-unstyled text-small">
            <li><a href="https://github.com/NekoNabNab">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/nabila-rozan-humairoh-362924215/">LinkendIn</a></li>
            <li><a href="https://www.facebook.com/n.r.humairoh">Facebook</a></li>
            <li><a href="https://www.instagram.com/nabila_rozan_/">Instagram</a></li>
          </ul>
        </div>
      </div>
      <p>Blog built by 
        <a href="https://linktr.ee/NabilaRozan">Nabila Rozan</a>
        and 
        <a href="https://linktr.ee/NabilaRozan">Bootstap luvly</a>  
      </p>
      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary rounded-pill" href="#HomePage">Back To Top</a>
        <!-- <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a> -->
      </nav>
    </footer>
    <!-- Akhir Credit -->
  </div>
</main>
<!-- Ini akhir home -->

</body>
</html>
